@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    @apply bg-slate-900 text-slate-400 tracking-tight;
    font-family: "Open Sauce Sans", "Manrope", sans-serif;
    position: relative;
}

* {
    @apply !duration-75;
}

body::before {
    content: "";

    @apply fixed top-0 left-0 block min-h-screen w-full -z-10;
    @apply bg-gradient-to-tr;
    @apply from-slate-900;
    @apply to-slate-700;
    @apply from-50%;
    @apply to-100%;
}

body::after, .bottom-gradient {
    content: "";
    @apply fixed bottom-0 left-0 w-full h-36 z-10 pointer-events-none bg-gradient-to-t from-slate-950 to-slate-900/0;
}
.top-gradient {
    @apply absolute -top-full left-0 w-full h-36 z-10 pointer-events-none bg-gradient-to-t from-slate-950 to-slate-900/0;
}

h1,h2,h3,h4,h5,.font-header {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    @apply text-slate-200 tracking-normal;
}

*.condensed {
    font-family: "Manrope-Condensed-Bold", "Manrope", sans-serif;
    font-weight: 700;
}

@keyframes live-bg {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 400% 0%;
    }
}

.live-bg {
    @apply bg-gradient-to-r from-lte-red via-lte-red/30 to-lte-red;

    animation-name: live-bg;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-size: 400% 400%;
}

.card {
    @apply shadow-md rounded-md bg-slate-900;
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {

    }
    .scrollbar::-webkit-scrollbar-track {
        
    }
    .scrollbar::-webkit-scrollbar-thumb {
        background: red !important;
        
    }
    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: red !important;
    }
}
